version: '3'

services:
  postgres:
    image: postgres:12
    container_name: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - '5432:5432'
    volumes:
      - db-postgres:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    hostname: my-rabbit
    restart: always
    environment:
      RABBITMQ_ERLANG_COOKIE: 'secret cookie here'
    ports:
      - '5672:5672'
      - '15672:15672'
    volumes:
      - db-rabbitmq:/var/lib/rabbitmq

  mongodb:
    image: mongo:4.4
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: mongo
    ports:
      - 27017:27017
    volumes:
      - db-mongo:/data/db
      - config-db-mongo:/data/configdb

volumes:
  db-postgres:
  db-rabbitmq:
  db-mongo:
  config-db-mongo:
